:root{
    --font-padrão: 'Poppins', sans-serif;
    --font-destaque: 'Oi', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--font-padrão);
    background-color: #F4DDBB;
}
.image-logo{ /*mexer na responsividade*/
    background-image: url(img/logo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 450px;
    height: 100%;
    max-height: 500px;
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);
    transition: transform 1s ease; 
}
.image-logo.reveal {
    transform: translate(-50%, -150%);
}
.content{
    background-color: #F2F2F2;
    box-shadow:#590202 0px 0px 0px 3px,#BF2604 0px 0px 0px 6px,#F27405 0px 0px 0px 9px,#F29F05 0px 0px 0px 12px;
    max-width: 900px;
    height: 100%;
    position: relative; 
    z-index: 1;
    text-align: center;
    color: black;
    display: none;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 55px;
    margin-bottom: 55px;
}
.title{
    text-align: left;
    padding: 50px;
}
.title h1{
    font-family: var(--font-destaque);
    color: #BF2604;
    text-shadow: 
                -1px -1px 0 #000,  
                 1px -1px 0 #000,
                -1px  1px 0 #000,
                 1px  1px 0 #000;
    letter-spacing: 5px;
    font-weight: normal;
    font-size: 2.7rem;
}
.title h2{
    font-family: var(--font-padrão);
    color: #F27405;
    text-shadow: 
                -1px -1px 0 #000,  
                 1px -1px 0 #000,
                -1px  1px 0 #000,
                 1px  1px 0 #000;
    font-size: 1.3rem;
}
.section-of-checkbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px; 
    padding: 10px;
}
.content-priorities{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 300px;
}
.area-text_priorities{
    margin-bottom: 15px;
    border-bottom: 2px solid black;
    text-align: left;
    min-width: 260px;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    padding: 7px;
}
.priorities{
    display: flex;
    flex-direction: column;
}
.content-to_do{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 300px;
}
.area-text_to_do{
    margin-bottom: 15px;
    border-bottom: 2px solid black;
    text-align: left;
    min-width: 260px;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    padding: 7px;
}
.to_do{
    display: flex;
    flex-direction: column;
}
.section-of-checkbox_week{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content-week{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.content-monday, .content-tuesday, .content-wednesday, .content-thursday, .content-friday, .content-weekend {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    min-width: 280px;
    flex: 1 1 265px;
    margin: 10px; 
    padding: 10px;
}
.area-text_monday, .area-text_tuesday, .area-text_wednesday, .area-text_thursday, .area-text_friday, .area-text_saturday {
    margin-bottom: 6px;
    min-width: 100px;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    padding: 7px;
}
.area-text_sunday{
    font-size: 17.5px;
}
.monday, .tuesday, .wednesday, .thursday, .friday, .saturday, .sunday{
    border: 1px solid black;
    padding: 10px;
}
.input-group {
    display: flex; 
    align-items: center;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-bottom: 2px dotted black;
}
.input-group label {
    display: flex; 
    align-items: center;
    margin-bottom: 10px;
    border: none;
}
input[type="text"] {
    margin: 0; 
    padding: 0; 
    border: none; 
    outline: none; 
    background: none; 
    font-size: 16px;
    width: 200px;
    box-shadow: none; 
}
.custom-checkbox {
    display: none; 
}
.custom-checkbox + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer; 
}
.custom-checkbox + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px; 
    height: 15px;
    border: 2px solid #ccc;
    border-radius: 3px;
    background-color: white;
    transition: background-color 0.3s, border-color 0.3s;
}
.custom-checkbox:checked + label:before {
    background-color: #F27405; 
    border-color: #F27405;
}
.custom-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 6px; 
    top: 2px; 
    width: 4px; 
    height: 9px; 
    border: solid white; 
    border-width: 0 2px 2px 0; 
    transform: rotate(45deg); 
    display: none;
}
.custom-checkbox:checked + label:after {
    display: block;
}
@media screen and (max-width: 1004px){
    .content{
        max-width: 750px;
    }
}
@media screen and (max-width: 817px){
    .content{
        margin-left: 50px;
        margin-right: 50px;
    }
    .title h1{
        font-size: 2rem;
    }
    .title h2{
        font-size: 1.3rem;
    }
    .content-priorities{
        min-width: 350px;
    }
    .area-text_monday, .area-text_tuesday, .area-text_wednesday, .area-text_thursday, .area-text_friday, .area-text_saturday{
        margin-top: 10px;
        margin-bottom: 15px;
    }
}